

header{

}

.nav{
    background-color: #0769e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-container{
    /* background-color: #39d; */
    /* background-color: #3be; */
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;


    /* width: 100%; */
}

.nav-logo{
    /* margin-left: 100px; */

    font-size: 32px;
    line-height: 80px;
    padding: 0 10px;


}

.nav-logo-link{
    color:#fff;
    text-decoration: none;
}

.nav-list{
    display: flex;
    /* justify-content: space-around; */
    /* flex:auto; */
    max-width: 768;
    /* margin: 0 auto; */
    margin-right: 40px;
    text-decoration: none;
}

.nav-list-item{

    list-style: none;
    /* padding-left: 0; */

    /* text-transform: uppercase; */
    width: max-content;/*no cortes el contenido, tira a la derecha*/

    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;/*esto hace que se centre de forma vertical*/




}

/* padding: 8px 12px;
border-radius: 3px; */

.nav-list-link{
    color:#fff;
    text-decoration: none;
    padding:12px;


    border-radius: 10px;

    transition: .3s;
}

.nav-list-link:hover{
    background-color: #034574;
    
}

.nav-toggle{
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;

    line-height: 60px;

    display: none;
}


/* responsive */
@media (max-width:768px){
    .nav{
        height: 60px;
    }

    .nav-logo{
        line-height: 60px;
    }
    
    
    .nav-list{

        max-width: 768;
        /* margin: 0 auto; */
        margin-right: 0;/*0*/

        flex-direction: column;
        width: 100%;
        align-items: center;
        position: fixed;
        left: 0;
        top:60px;
        background-color: #2c3e50;
        padding: 20px 0;

        height:100%;
         /*(el 100% para que agarre todo y se le resta el tamaÃ±o de la barra) */
        overflow-y: auto;/*cuando necesite una barra en el eje y la pone automaticamente*/
        /*27:00*/

        left:100%;/* esto manda la barra a la derecha fuera de la pantalla */

        /* align-content: flex-start; */

        transition: left 0.3s;
    }

    .nav-list-visible{
        left:0;
    }
    
    .nav-list-item{

    
        font-size: 20px;
        /* margin: 0 10px; */
        line-height: 60px;/*esto hace que se centre de forma vertical*/
    
    
    
    
    }
    
    /* padding: 8px 12px;
    border-radius: 3px; */
    
    .nav-list-link{
        color:#fff;
        text-decoration: none;
        padding:12px;
    
    
        border-radius: 10px;
    
        transition: .3s;
    }
    
    .nav-list-link:hover{
        background-color: #034574;
        
    }
    
    .nav-toggle{
        padding: 0 20px;
        display: block;
        cursor: pointer;
        line-height: 60px;
    }
    
}